body { 
	width: 100%; 
	margin: 50px 0; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 18px;
	font-weight: 300;
}

h1 { font-weight: 300; font-size: 48px; margin: 0 0 10px 0; }
h2 { font-weight: 300; font-size: 32px; margin: 0 0 6px 0; }
h3 { font-weight: 300; font-size: 24px; margin: 0 0 6px 0; }
h4 { font-weight: 100; font-size: 12px; margin: 10px 0 3px 0; }

div.superhead { font-size: 24px; margin-bottom: -5px; }

h1 span.chinese { 
	font-size: 36px; 
	font-family: Georgia, "Times New Roman", "FangSong", "??", STFangSong, "????", serif;
	font-weight: 100;
	margin: 0px 4px;
}

li { list-style-type: disc; }
li.current { }
li.former { list-style-type: circle; }

a { text-decoration: none; color: #2980b9; }

div.sidebar { width: 200px; float: left; vertical-align: top; margin-left: 50px; }
div.main { vertical-align: top; margin-left: 300px; margin-right: 50px; }
div.bigmain { margin-left: 50px; margin-right: 50px; }

div.picture { margin: 15px 0; }
div.contact { font-size: 16px; }
div.name { }

.contact dt { margin-top: 20px; color: #2980b9; }
.contact dd { margin-left: 0;}

div.news { }
.news dt { font-size: 22px; margin-top: 15px; color: #2980b9; }
.news dd { font-size: 16px; margin-left: 3px;}


.button {
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  padding: 3px 10px;
  margin: 4px;
  text-decoration:none; 
  display:inline-block;
  color: #FFFFFF;
  background-color: #2980b9;
  cursor: pointer;
}

.smallbutton {
  position: relative; top: -1px;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  padding: 1px 3px 0px 3px;
  border: solid 1px #2980b9;
  color: #2980b9;
  font-size: 14px;
  text-decoration: none;
  margin: 0px 2px;
}

.superhead .arrow-left {
	width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid #2980b9;
	display: inline-block;
	margin: 0px 8px;

}

h2 .arrow-right {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #2980b9;
	display: inline-block;
	margin: 0px 4px;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #2980b9;
	display: inline-block;
	margin: 0px 4px;
}

div.pub {
	margin: 12px 0;
}

pre { overflow-x: scroll; }



div#container {
    padding-left: 5px;
    padding-right: 5px;
    /*margin-left: 15%;
    margin-right: 15%; */
    /*width: 1000px; 
    margin: 0 auto;*/
    text-align: left;
    /* position: relative; */
    background-color: #FFF;
}


table.pub_table tr {
    outline: thin dotted #666666;
}

.paper-title {
    color: black;
    text-decoration: none;
}

.papericon {
    /* border-radius: 8px; */
    /* -moz-box-shadow: 3px 3px 6px #888;
    -webkit-box-shadow: 3px 3px 6px #888;
    box-shadow: 3px 3px 6px #888; */
    /* height: auto; */
    width: 160px;
    height: 100;
    margin-top: auto;
    margin-left: 5px;
    margin-bottom: auto;
}

.media {
    margin-bottom: 15px;
    margin-left: 10px;
}

.media-body {
    margin-top: 5px;
    padding-left: 20px;
}

.publication {
    margin-bottom: 15px;
}

.paperhi {
    display: flex;
}

